$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$bg-day: url(https://cdn.discordapp.com/attachments/761174787007184906/847978720669335562/after_noon.png);
$bg-night: url(https://cdn.discordapp.com/attachments/761174787007184906/847978744467292180/night.png);
$screenW: 375px;
$screenH: 567px;
$padSide: 24px;
$padVert: 106px;
$phoneW: $screenW + $padSide*2;
$phoneH: $screenH + $padVert*2;